/* Tar bort grundinställningar i webbläsaren */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid för webbplatsen */
.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10% 5% 1fr;
}

/* Placerar ut nav i gridden */
nav {
    grid-column: 2/3;
    grid-row: 1/2;
}

/* Ändrar huvudnavigationen till att visas som en meny */
nav ul li {
    display: inline;
}

/* Placerar ut huvudinnehållet på gridden */
main {
    grid-column: 2/3;
    grid-row: 3/4;
}

/* Bakgrundsfärger */
main {
    background-color: orange;
    border-radius: 3%;
    text-align: center;
}

nav {
    background-color: orangered;
    border-radius: 5%;
    text-align: center;
}

body {
    background-color: black;
    border-radius: 3%;
}

/* Få navigationen att se mer ut som knappar */
nav ul li {
    font-size: 200%;
    margin-left: 2%;
    padding: 1%;
}

nav ul li a {
    color: black;
}

nav ul {
    margin-top: 2%;
}

/* Bildstorlek */
#maincontentdiv article img {
    display: block;
    margin: auto;
    max-width: 40%;
    max-height: 40%;
}

/*Overflow bort*/
body {
    overflow-x: hidden;
}